@model RoushUSPS_App.ViewModels.Login.UserLoginViewModel;
@*
	ViewData["Title"] = "Login Page"
*@
<div> 
    <h2>
        RoushUSPS Verification
    </h2>
</div>

@if (!string.IsNullOrEmpty(Html.ValidationSummary(true).ToString()))
{
    <div class="alert alert-danger pb-0">
        @Html.ValidationSummary(true)
    </div>
}


<form asp-controller="Login" asp-action="Index" method="post">
    <div class=" mt-4 col-sm-10 mx-auto mb-1">
        
        <input asp-for="UserName" type="text" class="pt-3 pb-3 form-control  rounded-3" id="login_username" placeholder="Enter your username" />
    </div>
    <div class=" mb-1 col-sm-10 mx-auto">
        
        <input asp-for="Password" type="password" class="pt-3 pb-3 form-control rounded-3" id="login_password" placeholder="Enter your password" />

    </div>
    <div class="col-sm-3 mx-auto">
		<button type="submit" class=" btn btn-primary mt-2 mb-5 rounded-5 w-100 pt-3 pb-3 ">SIGN IN </button>
	</div>
    <div>
        <p>Want to join? <a class="removeUnderline" asp-controller="Login" asp-action="Create" method="get">Sign Up</a></p>
    </div>
    

</form>
